.cartDiv{
    /* border: 2px solid red; */
    border: 1px solid lightgray;
    height: auto;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cartDiv1{
    /* border: 2px solid blue; */
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
}
.cartDiv1 p{
    font-size: 30px;
    font-weight: 900;
}
.cartDiv1 p+p{
    font-size: 15px;
}
.cartDiv1 p a{
    font-size: 15px;
    text-decoration: underline;
}
.cartDiv1 button{
    border: 1.5px solid rgb(121, 25, 159);
    background-color: white;
    border-radius: 25px;
    padding-left: 230px;
    padding-right: 230px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    color: rgb(126, 26, 166);
    transition: .5s;
}
.cartDiv1 button:hover{
    background-color: rgba(232, 226, 234, 0.624);
    border: 1.5px solid rgb(116, 27, 151);
    transition: .5s;
}
.cartDiv2{
    /* border: 2px solid blue; */
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cartCardCont{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;

}
.cartCard{
   
    height: auto;
    padding: 7px;
    padding-bottom: 40px;

}
.cartImg img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.cartCard:hover{
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    background-color: rgb(242, 242, 242);
}
.cartTitle{
    font-size: 15px;
}
.Heading{
    font-size: 25px;
}
.shopAllSalesDiv{
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px 15px 20px;
}
.shopAllSalesDiv p{
    font-size: 15px;
    color: black;
}
.shopAllSalesDiv i{
    font-size: 18px;
    color: black;
}
.shopAllSalesDiv:hover{
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    background-color: rgb(242, 242, 242);
}
@media all and (max-width:875px){
    .cartCardCont{
        grid-template-columns: repeat(2,1fr);
    }
}
@media all and (max-width:688px){
    .cartDiv1 button{
        padding-left: 150px;
        padding-right: 150px;
    }
    .cartCardCont{
        grid-template-columns: repeat(1,1fr);
    }
}
@media all and (max-width:503px){
    .cartDiv1 button{
        padding-left: 70px;
        padding-right: 70px;
    }
}
@media all and (max-width: 325px){
    .cartDiv1 button{
        padding-left: 30px;
        padding-right: 30px;
    }
}